
/*---Body---*/
body{
    background-image: url(Assets/background.svg);
    background-repeat:  no-repeat;
    background-size: cover;
    background-attachment: fixed;
    user-select: none;
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

/*---Font Family---*/
@font-face {
    font-family: HeaderFont;
    src: url(Assets/Header-Font.ttf);
}
@font-face {
    font-family: Normal-Text-Font;
    src: url(Assets/Normal-Text-Font.ttf);
}

h1, h2, h3{
    font-family: 'HeaderFont';
}
a, p, input{
    font-family: 'Normal-Text-Font';
}

/*---Custom Color---*/
:root{
    --wineColor: #811331;
    --lighterWineColor:#7b0323;
}

/*---Animation---*/
@keyframes babyAnimation{
    25%{
        transform: rotateZ(-30deg);
    }
    75%{
        transform: rotateZ(30deg);
    }
}

@keyframes pour {
    0% {
      top: -100%;
    }
    100% {
      top: 0;
    }
}

@keyframes fill {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
}

@keyframes frontPageh1Animation{
    0%{
        transform: translateY(-30vh);
        opacity: 0;
    }
    100%{
        transform: translateY(0vh);
        opacity: 100%;
    }
}

@keyframes arrowAnimation{
    0%{
        transform: translateX(-5vh);
    }
    50%{
        transform: translateX(0vh);
    }
    100%{
        transform: translateX(-5vh);
    }
}


/*---Transition---*/
#transitionAnimation{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    overflow: hidden;
}
#wine-pour {
    position: absolute;
    top: -100%;
    left: 50%;
    width: 5vh;
    height: 100%;
    background-color: var(--lighterWineColor);
    transform: translateX(-50%);
}

#wine-fill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--lighterWineColor);
}

/*---Age Verification Section---*/
#ageVerificationSection{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.ageVerification{
    width: 50vh;
    max-width: 80%;
    background-color: whitesmoke;
    height: 40vh;
    border-radius: 3%;
    border: rgb(183, 183, 183) 2px solid;
    display: flex;
    align-items: center;
}
    /*Normal Mode*/
    #normalMode{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .ageVerification h1{
        font-size: 2em;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .ageVerification a{
        font-size: 1.1em;
        width: 90%;
    }
    .ageVerification input{
        font-size: 1.1em;
    }
    .ageVerification span{
        background-color: var(--wineColor);
        color: whitesmoke;
        width: 20vh;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;
        border-radius: 5px;
        transition: color 500ms;
        transition: background 500ms;
    }
    .ageVerification span:hover{
        background-color: whitesmoke;
        color: var(--wineColor);
        transition: color 500ms;
        transition: background 500ms;
        border: lightgray 2px solid;
        cursor: pointer;
    }

    /*Loading Mode*/
    #loadingMode{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #loadingMode img{
        width: 12vh;
        height: 12vh;
    }
    /*Baby Mode*/
    #babyMode{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #babyMode img{
        height: 70%;
    }
    #babyMode img:hover{
        cursor: pointer;
    }


/*---Main Page Section---*/
#mainPageSection{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
    /*---Front Page---*/
    .frontPage{
        width: 100%;
        height: 100%;
        background-image: url(Assets/background2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        align-items: center;
        flex-direction: column;
        color: white;
    }
    @media only screen and (max-width: 600px){
        .frontPage{
            background-image: url(Assets/smartphone-background.jpg);
        }
    }
    .frontPage h1{
        font-size: 20vh;
        animation: frontPageh1Animation 1s ease-out;
        justify-self: center;
    }

    /*---Arrow---*/
    .scrollArrow{
        width: 10vh;
        height: 10vh;
        transform: rotateZ(90deg);
        margin-bottom: 2vh;
        justify-self: center;
    }
    .scrollArrow:hover{
        cursor: pointer;
    }
    .scrollArrow img{
        filter: invert(1);
        width: 100%;
        height: 100%;
        animation: arrowAnimation 1s infinite ease-in-out;
    }

    /*---Icons---*/

        /*---Music---*/
        #frenchMusic{
            width: 10vh;
            height: 10vh;
            background-color: var(--lighterWineColor);
            position: absolute;
            display: flex;
            overflow: hidden;
            align-items: center;
            gap: 4vh;
            border-radius: 50%;
            margin-left: 5vh;
            transition: width 500ms ease-in-out, border 500ms;
        }
        #frenchMusic:hover{
            width: 35vh;
            border-radius: 50px;
            clip-path: inset(0 0 0 0 round 50px);
            transition: width 500ms ease-in-out;
        }
        #frenchMusic img{
            height: 60%;
            padding-left: 2vh;
            filter: invert(1);
            transition: filter 250ms ease-in-out;
        }
        #frenchMusic img:hover{
            cursor: pointer;
            filter: invert(0.5);
            transition: filter 250ms ease-in-out;
        }

        /*---Music Mobile---*/
        #musicButtonMobile{
            height: 8vh;
            width: 70%;
            background-color: var(--lighterWineColor);
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5vh;
            border-radius: 15px;
        }
        #musicButtonMobile img{
            height: 80%;
            filter: invert(1);
        }
        #musicButtonMobile a{
            color: whitesmoke;
            font-size: 3vh;
        }

        /*---Music Slider---*/
        #audioVolume{
            -webkit-appearance: none;
            appearance: none;
            width: 100%; /* Full-width */
            height: 2vh; /* Specified height */
            background: whitesmoke;
            border-radius: 1vh;
            outline: none; /* Remove outline */
            margin-right: 1vh;
        }
        #audioVolume::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 3vh;
            height: 3vh;
            border-radius: 50%; 
            background: lightgray;

        }
        #audioVolume::-webkit-slider-thumb:hover {
            cursor: pointer;
            background: darkgray;
        }

        /*---Drinking Counter---*/
        #drinkingCount{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--lighterWineColor);
            width: 15%;
            height: 5vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: whitesmoke;
            border-radius: 10px;
        }


    /*---Content---*/
    .content{
        width: 100%;
        height: 95vh;
        padding-top: 5vh;
    }

    /*---Content Arrow---*/
    .contentArrow{
        position: absolute;
        transform: translateX(175vh) rotateZ(-90deg);
    }

    .body{
        width: 70%;
        max-height: fit-content;
        min-height: fit-content;
        padding-bottom: 2vh;
        background-color: whitesmoke;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        border: 5px lightgray solid;
        margin-top: 7vh;
    }
    .body h1{
        font-size: 5vh;
        margin: 0;
        margin-top: 2vh;
    }
    .wineSelection{
        width: 100%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 2vh 5vh;
        padding-top: 3vh;
        justify-content: center;
    }
    .card{
        width: 20vh;
        height: 30vh;
        display: flex;
        flex-direction: column;
        padding: 0;
        background-color: white;
        border-radius: 5px;
        border: 5px lightgray solid;
        transition: transform 400ms;
    }
    .card:hover{
        cursor: pointer;
    }
    .card img{
        width: 100%;
    }
    .card span{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card h2{
        margin: 0;
        font-size: 3vh;
        text-align: center;
    }

    /*---Drinking---*/
    #drinkButtons{
        display: flex;
        flex-direction: row;
        gap: 3vh;
    }
    @media only screen and (max-width: 600px){
        #drinkButtons{
            flex-direction: column;
        }
    }
    #drinkButton, #bodyBackButton, #buyButton, #buyBackButton{
        width: 25vh;
        height: 10vh;
        background-color: var(--wineColor);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: whitesmoke;
        font-size: 4vh;
        transition: background 500ms;
        transition: color 500ms;
    }
    #drinkButton:hover, #bodyBackButton:hover, #buyButton:hover, #buyBackButton:hover{
        cursor: pointer;
        background-color: whitesmoke;
        color: var(--wineColor);
        border: 3px lightgray solid;
        transition: background 500ms;
        transition: color 500ms;
    }
    #pouringImage{
        height: 90%;
    }
    #drinkText, #drinkText2{
        margin: 0;
    }

/*---Minigame Section---*/